# Dependencies
node_modules/
scripts/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Testing
coverage/

# Environment variables
.env
.env.*

# OS junk
.DS_Store

# Ignore personal config/editor folders
.vscode/
.idea/

# Dowloads
**/downloads/

# Debug
debug.js
seed_log.txt
test_output.txt
printTree.js
tree.txt